<% if user_signed_in? %>
  <%= link_to 'Add a Keyword', new_keyword_path, class:"btn btn-outline-success" %>
  <br/><br/>
<% end %>

<h4>Keywords</h4>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>

      <% if current_user.id == keyword.user_id%>
        <tr>
          <td><%= keyword.word %></td>
          <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      
    <% end %>
  </tbody>
</table>

<br>